<!DOCTYPE html>
<html>

<head>
  index
</head>

<body>
  <h1>삭제</h1>
  <form method="POST" action="/comments/<%= comment_id %>/delete">
    <div>
      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" />
    </div>
    <div>
      <input type="submit" value="삭제"" />
    </div>
  </form>
</body>

</html>
