<!DOCTYPE html>
<html>

<head>
  index
</head>

<body>
  <a href="/comments/<%= comment.comment_id%>">글로 돌아가기</a>
  <h1>수정</h1>
  <form method="post" action="/comments/<%= comment.id%>">
    <div>
      <label for="writer">작성자</label>
      <input type="text" id="writer" name="writer" value="<%= comment.writer %>" />
    </div>
    <div>
      <label for="body">내용</label>
      <textarea name="body"><%= comment.body %></textarea>
    </div>
    <div>
      <label for="password">비밀번호</label>
      <small>작성 시 입력한 비밀번호를 입력해주세요.</small>
      <input type="password" id="password" name="password" />
    </div>
    <div>
      <input type="submit" value="수정"" />
    </div>
  </form>
</body>

</html>
