<!DOCTYPE html>
<html>
  <%- include('../include/_head', {title: ''}) %>
  <body>
    <a href="/posts">리스트로 돌아가기</a>
    <h1>삭제</h1>
    <form method="post" action="/posts/<%= post_id %>/delete">
      <div>
        <label for="password">작성 시 입력한 비밀번호를 입력해주세요.</label><br />
        <input type="password" id="password" name="password" required="true" />
      </div>
      <div>
        <input type="submit" value="삭제"" />
      </div>
    </form>
  </body>
</html>
