<!DOCTYPE html>
<html>

<head>
  index
</head>

<body>
  <a href="/posts">리스트로 돌아가기</a>
  <h1>삭제</h1>
  <form method="DELETE" action="/posts/<%= post_id %>">
    <div>
      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" />
    </div>
    <div>
      <input type="submit" value="삭제"" />
    </div>
  </form>
</body>

</html>
