<!DOCTYPE html>
<html>

<head>
  index
</head>

<body>
  <a href="/posts">리스트로 돌아가기</a>
  <h1>수정</h1>
  <form method="POST" action="/posts">
    <% if(parent_post) { %>
    <input type="hidden" name="parent_id" value="<%= parent_id %>" />
    <% } %>
      <label for="title">제목</label>
      <input type="text" id="title" name="title" value="<%= post.title %>" />
    </div>
    <div>
      <label for="writer">작성자</label>
      <input type="text" id="writer" name="writer" value="<%= post.writer %>" />
    </div>
    <div>
      <label for="body">내용</label>
      <textarea name="body"><%= post.body %></textarea>
    </div>
    <div>
      <label for="password">비밀번호</label>
      <small>작성 시 입력한 비밀번호를 입력해주세요.</small>
      <input type="password" id="password" name="password" />
    </div>
    <div>
      <input type="submit" value="수정"" />
    </div>
  </form>
</body>

</html>
