<!DOCTYPE html>
<html>
  <head>
    index
  </head>
  <body>
    <a href="/posts">리스트로 돌아가기</a>
    <h1>등록</h1>
    <form method="POST" action="/posts">
      <% if(parent_post) { %>
        <input type="hidden" name="parent_id" value="<%= parent_post.id %>" />
        <%= parent_post.title%> 에 대한 답글
      <% }%>
      <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" />
      </div>
      <div>
        <label for="writer">작성자</label>
        <input type="text" id="writer" name="writer" />
      </div>
      <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" />
      </div>
      <div>
        <label for="body">내용</label>
        <textarea name="body"></textarea>
      </div>
      <div>
        <input type="submit" value="작성"" />
      </div>
    </form>
  </body>
</html>
